@page "/associations"
@rendermode InteractiveServer
@using RobinsonSportApp.Core.Managers.Associations
@using RobinsonSportApp.Core.Managers.Associations.Models
@using RobinsonSportApp.Core.Models
@inject IAssociationManager associationManager


<div class="association-container">
    <div class="filter-bar">
        <input type="text" placeholder="Any keyword" @bind="EnteredKeyWord" @oninput="HandleInput" />

    </div>
</div>


<ul class="association-ul">

    @if (!search)
    {
        @if (associations is null)
        {
            <div class=""></div>
        }
        else
        {
        @foreach (var association in associations)
        {
            <li class="@(associations.IndexOf(association) % 2 == 0 ? "association-li" : "association-li-2")">
                <h1>@association.Name</h1>
                <br />
                <p><b>Contact Person:</b> @association.PresidentFirstName @association.PresidentLastName</p>
                <p><b>President's Name:</b> @association.PresidentFirstName</p>
                <p><b>Phone Number:</b>  @association.PhoneNumbers</p>
                <p><b>Email:</b> @association.Emails</p>
                <p><b>Url:</b> @association.WebsiteUrl</p>
            </li>
        }
    }
    }
    else
    {
        @foreach (var association in associations)
        {
            name = association.PresidentFirstName + " " + association.PresidentLastName;
            @if (association.Name.ToLower().Contains(EnteredKeyWord) || association.PresidentFirstName.ToLower().Contains(EnteredKeyWord) || association.PresidentLastName.ToLower().Contains(EnteredKeyWord) || association.PhoneNumbers.ToLower().Contains(EnteredKeyWord) || name.ToLower().Contains(EnteredKeyWord) || association.Emails.Contains(EnteredKeyWord) || association.WebsiteUrl.Contains(EnteredKeyWord) || association.PresidentFirstName.ToLower().Contains(EnteredKeyWord))
            {
                <li class="@(associations.IndexOf(association) % 2 == 0 ? "association-li" : "association-li-2")">
                    <h1>@association.Name</h1>
                    <br />
                    <p><b>Contact Person:</b> @association.PresidentFirstName @association.PresidentLastName</p>
                    <p><b>President's Name:</b> @association.PresidentFirstName</p>
                    <p><b>Phone Number:</b> @association.PhoneNumbers</p>
                    <p><b>Email:</b> @association.Emails</p>
                    <p><b>Url:</b> @association.WebsiteUrl</p>
                </li>
            }
        }
    }



</ul>

@code {
    private string EnteredKeyWord { get; set; } = "";
    private bool search = false;
    private string name { get; set; } = "";

    private List<AssociationModel> associations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        associations = await associationManager.GetAssociationsAsync();
    }
    // public List<Association> associations = new List<Association>
    // {
    //     new Association
    //     {
    //         Name = "Football champions",
    //         FirstName = "Patrick",
    //         LastName = "Valence",
    //         PresidentsName = "Sebastien",
    //         PhoneNumber = "744987856",
    //         Email = "something@gmail.com",
    //         WebsiteUrl = "https://someurlispresenthere.com"

    //     },
    //     new Association
    //     {
    //         Name = "Football champions",
    //         FirstName = "Patrick",
    //         LastName = "Goudzi",
    //         PresidentsName = "Sebastien",
    //         PhoneNumber = "744987856",
    //         Email = "something@gmail.com",
    //         WebsiteUrl = "https://someurlispresenthere.com"

    //     },
    //     new Association
    //     {
    //         Name = "Basketball champions",
    //         FirstName = "Patrick",
    //         LastName = "Goudzi",
    //         PresidentsName = "Sebastien",
    //         PhoneNumber = "744987856",
    //         Email = "something@gmail.com",
    //         WebsiteUrl = "https://someurlispresenthere.com"

    //     },
    //     new Association
    //     {
    //         Name = "Football champions",
    //         FirstName = "Patrick",
    //         LastName = "Goudzi",
    //         PresidentsName = "Sebastien",
    //         PhoneNumber = "744987856",
    //         Email = "something@gmail.com",
    //         WebsiteUrl = "https://someurlispresenthere.com"

    //     }
    // };

    private void HandleInput(ChangeEventArgs e)
    {
        search = true;
        EnteredKeyWord = e.Value.ToString().ToLower();


    }


}
