@page "/"
@using RobinsonSportApp.Core.Models

<PageTitle>Plessis Sports</PageTitle>

<body class="body-home">
    <div class="main-home">
        <div class="container">
            <div class="module-calendar">
                <div class="row align-items-center">
                    <p class="summary">Upcoming Matches</p>
                    @foreach (var match in Matches.Where( m =>m.date >= DateTime.Today).OrderByDescending(m=>m.date).Take(3))
                    {

                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <br />
                                <div class="row align-items-center">
                                    <div class="col">
                                        <p class="starting-date" style="white-space: nowrap;">
                                            Starting Date
                                            <br />
                                            <i class="bi bi-calendar"></i>
                                            @match.date.ToString("dd.MM.yyyy")

                                        </p>
                                    </div>

                                    <div class="col">
                                        <p class="starting-date">@match.firstTeam</p>
                                    </div>
                                    <div class="col">
                                        <p class="starting-date">
                                        @match.matchType
                                        <br />
                                        vs
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="starting-date">@match.secondTeam</p>
                                    </div>
                                    <div class="col" >
                                        <p class="starting-date" style="white-space: nowrap;">
                                            @match.place
                                            <br />
                                            <i class="bi bi-geo-alt starting-date">@match.location</i>
                                        </p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    
    private List<Match> Matches = [
        new Match
        {
            matchType = "Football",
            date = new DateTime(2024, 10, 10),
            place = "Stadium of Paris",
            location = "Paris",
            firstTeam = "Spartak",
            secondTeam = "Hrazdan"
        },
    new Match
    {
        matchType = "Basketball",
            date = new DateTime(2024, 2, 14),
            place = "Stadium of Barcelona",
            location = "Barcelona",
            firstTeam = "Lakers",
            secondTeam = "Luiziana"
    },
    new Match
    {
        matchType = "Voleyball",
            date = new DateTime(2024, 11, 1),
            place = "Stadium of Madrid",
            location = "Madrid",
            firstTeam = "Goose",
            secondTeam = "Verginia"
    }
        ];

}

