@page "/"
@using RobinsonSportApp.Core.Managers.Events
@using RobinsonSportApp.Core.Managers.Events.Models
@using RobinsonSportApp.Core.Models
@inject IEventManager eventManager

<PageTitle>Plessis Sports</PageTitle>

<div class="main-home">
    @if (Events is null)
    {
        <div class="spinner"></div>
    }
    else if (Events.Count > 0)
    {
        <div class="container-calendar">
            <div class="module-calendar display-mode-desktop">
                <div>
                    <p class="summary">Upcoming Matches</p>

                    @foreach (var match in Events)
                    {

                        <div class="row-home align-items-center">
                            <div class="custom-col-lg-4">

                                <div class="match-type" style="font-style: italic">@match.SportCategory</div>
                                <a href="match/@(match.Id)" style="color: white; text-decoration: none;">
                                    <div class="row-home align-items-center">

                                        <div class="col">
                                            <p class="starting-date " style="white-space: nowrap;">
                                                Starting Date
                                                <br />
                                                <i class="bi bi-calendar"></i>
                                                @match.StartTime.ToString("dd.MM.yyyy HH:mm")

                                            </p>
                                        </div>

                                        <div class="col">
                                            <p class="starting-date">@match.Opponent1</p>
                                        </div>

                                        <div class="col">
                                            <p class="starting-date">
                                                vs
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="starting-date">@match.Opponent2</p>
                                        </div>
                                        <div class="col">
                                            <p class="starting-date" style="white-space: nowrap;">
                                                @match.Place
                                                <br />
                                                <i class="bi bi-geo-alt starting-date">@match.Place</i>
                                            </p>
                                        </div>


                                    </div>
                                </a>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="module-calendar display-mode-mobile">
                <div>
                    <p class="summary">Upcoming Matches</p>
                    <br />

                    @{
                        var upcomingMatches = Events.Take(2).ToList();
                        var lastMatchIndex = upcomingMatches.Count - 1;
                        int counter = 0;
                    }

                    @foreach (var match in Events.Take(2))
                    {
                        <div class="row-home align-items-center">
                            <div class="custom-col-lg-4">
                                <div class="match-type" style="font-style: italic">@match.SportCategory</div>
                                <p class="starting-date " style="white-space: nowrap;">

                                    Starting Date
                                    <br />
                                    <i class="bi bi-calendar"></i>
                                    @match.StartTime.ToString("dd.MM.yyyy HH:mm")

                                </p>
                                <div class="row-home align-items-center">


                                    <div class="col">
                                        <p class="starting-date">@match.Opponent1</p>
                                    </div>
                                    <div class="col">
                                        <p class="starting-date">
                                            vs
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="starting-date">@match.Opponent2</p>
                                    </div>
                                </div>
                                <p class="starting-date" style="@(counter != lastMatchIndex ? "white-space: nowrap; border-bottom: 1px solid #fff; padding-bottom: 20px;" : "white-space: nowrap;")">
                                    @match.Place
                                    <br />
                                    <i class="bi bi-geo-alt starting-date">@match.Place</i>
                                </p>
                            </div>
                        </div>
                        counter++;
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="results-home">
    <div class="club-ranking">
        <h2>Club Ranking</h2>
        <ul>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Flag_of_France.png/1280px-Flag_of_France.png" alt="">France</a>
                <span class="points">95</span>
            </li>
            <li>
                <span class="position">02</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/2560px-Flag_of_Denmark.png" alt="">Denmark</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">03</span>
                <a href="#"><img src="https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png" alt="">Spain</a>
                <span class="points">89</span>
            </li>
            <li>
                <span class="position">04</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Flag_of_Italy_%281946%E2%80%932003%29.png" alt="">Italy</a>
                <span class="points">88</span>
            </li>
            <li>
                <span class="position">05</span>
                <a href="#"><img src="https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png" alt="">Portugal</a>
                <span class="points">87</span>
            </li>
            <li>
                <span class="position">06</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Flag_of_germany_800_480.png" alt="">Germany</a>
                <span class="points">81</span>
            </li>
            <li>
                <span class="position">07</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Switzerland.svg/512px-Flag_of_Switzerland.svg.png?20191016012602" alt="">Switzerland</a>
                <span class="points">78</span>
            </li>
        </ul>
    </div>

    @if (RecentResults is null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="recent-results">
            <h2>Recent Results</h2>
            <ul>
                @foreach (var match in RecentResults)
                {
                    <li>
                        <div class="goals-result">
                            <a href="match/@match.Id">
                                @{
                                    string formattedName1 = match.Opponent1.Length > 7 ? match.Opponent1[..7] + ".." : match.Opponent1;
                                }
                                <img src="@match.Opponent1Logo" alt="">@formattedName1
                            </a>
                            <span class="goals">
                                <b>@match.Score1</b> - <b>@match.Score2</b>
                            </span>
                            <a href="match/@match.Id">
                                @{
                                    string formattedName2 = match.Opponent2.Length > 7 ? match.Opponent2[..7] + ".." : match.Opponent2;
                                }
                                <img src="@match.Opponent2Logo" alt="">@formattedName2
                            </a>
                            <span>@match.EndTime.ToString("dd.MM.yyyy")</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="top-player">
        <h2>Top players</h2>
        <ul>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Flag_of_Armenia_%283-2%29.svg/1280px-Flag_of_Armenia_%283-2%29.svg.png" alt="">Henrikh Mkhitaryan</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1280px-Flag_of_Argentina.svg.png" alt="">Lionel Messi</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png" alt="">Andres Inesta</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png" alt="">Cristiano Ronaldo</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Flag_of_France.png/1280px-Flag_of_France.png" alt="">Kylian Mbappe</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png" alt="">Neymar</a>
                <span class="points">90</span>
            </li>
            <li>
                <span class="position">01</span>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Poland_flag_300.png" alt="">Robert Lewandowski</a>
                <span class="points">90</span>
            </li>
        </ul>
    </div>
</div>

@code {
    private List<EventModel> Events { get; set; }
    private List<EventModel> RecentResults { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Events = await eventManager.GetUpcomingEventsAsync(4);
        RecentResults = await eventManager.GetRecentEventsAsync(10);
    }
}

