@page "/results"
@using RobinsonSportApp.Core.Models
@using RobinsonSportApp.Data.Entities
@rendermode InteractiveServer

<PageTitle>Plessis Sports Results</PageTitle>

<div class="game-results-container">
    <div class="filter-bar">
        <select id="sport-type" @onchange="OnSportTypeChange">
            <option>All Sports</option>
            @foreach (var sport in Enum.GetValues(typeof(SportCategory)))
            {
                <option value="@sport.ToString()">@sport.ToString()</option>
            }
        </select>
        <input type="date" id="start-date" @bind="StartDate" />
        <input type="date" id="end-date" @bind="EndDate" />
        <input type="text" placeholder="Team name" @bind="TeamName" @oninput="HandleInput" />
    </div>

    @if (FilteredGames is null)
    {
        <div class="spinner"></div>
    }
    else
    {

        @foreach (var gameGroup in FilteredGames.OrderByDescending(g => g.EndTime).GroupBy(g => g.SportCategory).ToList())
        {
            <h2 class="sport-category">@gameGroup.Key</h2>
            @foreach (var game in gameGroup)
            {
                <div class="game-result-item">
                    <div class="game-info">
                        <span class="game-date">@game.EndTime.ToString("dd MMM yyyy")</span>
                    </div>
                    <div class="team team-home">
                        <img src="@game.HomeTeamLogo" alt="Home Team Logo">
                        @if (game.HomeTeamScore > game.AwayTeamScore)
                        {
                            <span class="team-name"><b>@game.HomeTeamName</b></span>
                        }
                        else
                        {
                            <span class="team-name">@game.HomeTeamName</span>
                        }
                    </div>
                    <div class="game-score">
                        <span>@game.HomeTeamScore - @game.AwayTeamScore</span>
                    </div>
                    <div class="team team-away">
                        @if (game.AwayTeamScore > game.HomeTeamScore)
                        {
                            <span class="team-name"><b>@game.AwayTeamName</b></span>
                        }
                        else
                        {
                            <span class="team-name">@game.AwayTeamName</span>
                        }
                        <img src="@game.AwayTeamLogo" alt="Away Team Logo">
                    </div>
                    <div class="game-details-link">
                        <a href="match/@(game.Id)">
                            Details
                        </a>
                    </div>
                </div>
            }
        }
    }
</div>

@code {
    private string SelectedSport { get; set; } = "";
    private DateTime? StartDate { get; set; }
    private DateTime? EndDate { get; set; }
    private string TeamName { get; set; } = "";
    private Timer _debounceTimer;

    private IEnumerable<MatchResult> FilteredGames { get; set; }
    private List<MatchResult> Games = [
        new MatchResult
            {
                Id = 1,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "Paris-saint-Germain",
                HomeTeamScore = 2,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "Barcelona",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Football,
                EndTime = new DateTime(2024, 4, 10)
            },
        new MatchResult
            {
                Id = 2,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "Real Madrid",
                HomeTeamScore = 2,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "Manchester City",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Football,
                EndTime = new DateTime(2024, 4, 14)
            },
        new MatchResult
            {
                Id = 3,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "Boston Celtics",
                HomeTeamScore = 2,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "Los Angeles Lakers",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Basketball,
                EndTime = new DateTime(2024, 4, 13)
            },
        new MatchResult
            {
                Id = 4,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "British and Irish Lions",
                HomeTeamScore = 4,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "New Zealand",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Rugby,
                EndTime = new DateTime(2024, 4, 12)
            },
        new MatchResult
            {
                Id = 5,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "Novak Djokovic",
                HomeTeamScore = 2,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "Carlos Alcaraz",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Tennis,
                EndTime = new DateTime(2024, 4, 15)
            },
        new MatchResult
            {
                Id = 6,
                HomeTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/portugal.png",
                HomeTeamName = "Zamalek SC",
                HomeTeamScore = 2,
                AwayTeamLogo = "https://html.iwthemes.com/allEvents/Sport/img/clubs-logos/spain.png",
                AwayTeamName = "SC Magdeburg",
                AwayTeamScore = 3,
                SportCategory = SportCategory.Handball,
                EndTime = new DateTime(2024, 4, 14)
            }
    ];

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000); // simulate data fetching
        FilteredGames = Games;
        _debounceTimer = new Timer(DebounceIntervalElapsed, null, Timeout.Infinite, Timeout.Infinite);
    }

    private void HandleInput(ChangeEventArgs e)
    {
        TeamName = e.Value.ToString();
        _debounceTimer.Change(300, Timeout.Infinite);
    }

    private void DebounceIntervalElapsed(object state)
    {
        if (TeamName.Length >= 3)
        {
            InvokeAsync(() =>
            {
                FilterResults();
                StateHasChanged();
            });
        }
    }

    private void OnSportTypeChange(ChangeEventArgs e)
    {
        SelectedSport = e.Value.ToString();
        FilterResults();
    }

    private void FilterResults()
    {
        FilteredGames = Games
            .Where(game => (string.IsNullOrEmpty(SelectedSport) || SelectedSport == "All Sports" || game.SportCategory.ToString() == SelectedSport))
            .Where(game => !StartDate.HasValue || game.StartTime >= StartDate)
            .Where(game => !EndDate.HasValue || game.EndTime <= EndDate)
            .Where(game => string.IsNullOrEmpty(TeamName) || game.HomeTeamName.Contains(TeamName, StringComparison.OrdinalIgnoreCase) || game.AwayTeamName.Contains(TeamName, StringComparison.OrdinalIgnoreCase));

        StateHasChanged();
    }

    public void Dispose()
    {
        _debounceTimer?.Dispose();
    }
}
